<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A22: Express 基礎驗收</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="navbar-homepagebtn">
        <a href="/" class="btn btn-major">回到首頁</a>
      </div>
      <div class="navbar-other-btns">
        <a href="/about" class="btn btn-major">About</a>
        <a href="/portfolio" class="btn btn-major">Portfolio</a>
        <a href="/contact" class="btn btn-major">Contact</a>
      </div>
    </div>
  </nav>

  <!-- partial templates will replace the part of "body" here -->
  {{{body}}}

  <!-- include js files here -->
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>